einops==0.8.0
gdown==5.1.0
jpeg4py==0.1.4
lib==4.0.0
matplotlib==3.6.0
numpy==1.23.1
opencv_python==4.6.0.66
opencv_python_headless==4.8.1.78
pandas==1.5.0
Pillow==9.2.0
Pillow==10.3.0
scipy==1.9.1
skimage==0.0
spatial_correlation_sampler==0.5.0
tensorboardX==2.2
tensorboardX==2.5.1
tensorboardX==2.6.2.2
tikzplotlib==0.10.1
torch==1.8.1+cu111
torchvision==0.9.1+cu111
tqdm==4.64.0
trax==1.4.1
